.projectCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-black);
  border-radius: 4px;
  overflow: hidden;
}

.imageWrapper {
  flex: auto;
  overflow: hidden; 
  position: relative;
  height: 80%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.aboutProject {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 12px;
  justify-content: space-between;
  border-top: 1px solid var(--main-black);
  gap: 10px;
  width: 100%;
}

.titleAndDescription {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  flex: 1;  
  min-width: 0;
}

.titleAndDescription :nth-child(1) {
  white-space: nowrap;
}

.titleAndDescription :nth-child(2) {
  white-space: nowrap;       
  overflow: hidden;
  display: block; 
  text-overflow: ellipsis; 
  flex: 1;  
}

.aboutProject .phases {
  white-space: nowrap;
  width: auto;
  flex-shrink: 0;  
}


.imageWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-grey);
  opacity: 0.7;
  pointer-events: none;
  visibility: hidden; 
}
  

.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 20px;
  font-weight: light;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--main-yellow);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.5rem;
  line-height: 1.5em;
  visibility: hidden;
}

.imageWrapper:hover .slogan  {
    visibility: visible;
}

.imageWrapper:hover::after {
    visibility: visible;
}
