.dropDownButton {
    color: white;
    padding: 4px 16px;
    background-color: var(--main-black);
    border-radius: 11px;
    box-shadow: var(--shadowSmall);
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: fit-content;
    font-size: 12px;
    font-weight: 600;;
}

.icon path {
  fill: currentColor;
}

button:hover .icon {
  animation: bounce-down 0.2s cubic-bezier(.3,1.4,.5,1) 1;
}

@keyframes bounce-down {
  0%   { transform: translateY(0); }
  35%  { transform: translateY(1px); }
  65%  { transform: translateY(2px); }
  85%  { transform: translateY(1px); }
  100% { transform: translateY(0); }
}


.dropDownPopup {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: var(--main-black);
    color: white;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.20);
    padding: 12px 16px;
    border-radius: 2px;
    z-index: 1000;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dropDownPopupItem  {
    display: flex;
    gap: 8px;
}


