.content {
    grid-column: 1 / 13;
    min-height: calc(100vh - 154px);

}

section > :first-child {
    padding-top: 40px;
}

img {
    width: 100%;
    margin-bottom: 20px;
}

figure {
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

}

figcaption {
    font-size: smaller;
    text-align: center; 
}

 .userResarchImage,  .ideaSketchingImage {
    padding-left: 15%;
    padding-right: 15%;
 }



