.booklet {
  box-shadow: -5px 5px 16px 7px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: row;
}

.one-page {
  width: 50%;
  margin: auto;
}

.booklet img {
  width: 50%;
}

.one-page img{
  width: 100%;
}


.booklet-pagination {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate-element {
  display: flex;
  margin: 10px;
}

.booklet-pagination img {
  width: 30px;
}