/* @media screen and (min-width:481px) {
    .aboutProject {
        
    }
} */


/* @media screen and (min-width:904px) {
    .aboutProject {
        
    }
} */

.content {
    height: calc(100dvh - 144px);
    grid-column: 1 / 13;
    display: flex;
    padding-top: 20px;
    overflow-y: auto; /* Bereich vertikal scrollbar machen */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling auf iOS */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}



.element {
    height: 200px;      /* Nimmt volle Höhe der Grid-Zelle ein */
    box-sizing: border-box;
    overflow: hidden; /* überschüssiger Inhalt wird abgeschnitten */
}

.container {
    display: grid;
    gap: 20px; /* Abstand zwischen den Elementen */
    width: 100%;
    max-height: 70vh;
    /* Höhe vom übergeordneten Scrollbereich bestimmen lassen */

}

@media (min-width:481px) {

    .content {
        align-items: center;
        height: calc(100dvh - 194px); /* Höhe minus padding minus navbar minus footer */
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 Spalten */
        grid-template-rows: repeat(2, 1fr);    /* 2 Reihen */
        gap: 20px; /* Abstand zwischen den Elementen */
        width: 100%;
        /* Keine feste Höhe, damit der Scrollbereich der .content greift */

    }

    .element {
        height: 100%;      /* Nimmt volle Höhe der Grid-Zelle ein */
        box-sizing: border-box;
        overflow: hidden; /* überschüssiger Inhalt wird abgeschnitten */
    }
}

@media (min-width:768px) {

    .content {
        height: calc(100dvh - 154px); /* Höhe minus padding minus navbar minus footer */
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 Spalten */
        grid-template-rows: repeat(2, 1fr);    /* 2 Reihen */
        gap: 20px; /* Abstand zwischen den Elementen */
        width: 100%;
        /* Keine feste Höhe, damit der Scrollbereich der .content greift */
    }
}