.content {
    grid-column: 1 / 13;
    display: flex;
    padding-top: 20px;
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    align-items: center;
}

.element {
    height: 100%;     
    box-sizing: border-box;
    overflow: hidden; 
}

.container {
    display: grid;
    gap: 20px;
    width: 100%;
    max-height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);    
    gap: 20px; 
    width: 100%;
}


 @media (max-width: 768px) {
    
    .content {
        align-items: flex-start;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6, 1fr);    
        gap: 15px; 
        width: 100%;
    }

    .element {
        height: 300px;      
        overflow: hidden; 
    }
 }


 @media (max-width: 481px) {

    .element {
        height: 200px;      
        overflow: hidden; 
    }
 }
