.content {
    grid-column: 5 / 9;
    padding-top: 40px;
    overflow-y: auto; 
    overflow-x: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    min-height: calc(100dvh - 154px);
    max-height: calc(100dvh - 154px);
}

.myJourney {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding-bottom: 40px;
}

.imageWrapper {
    overflow: hidden; 
    height: 400px;
    grid-column: 1 / 3;
}

.imageWrapper img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text {
    grid-column: 3 / 7;
}

.text p {
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.2rem;
}


.buttonContainer {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

@media screen and (max-width: 1639px) {

    .content {
        grid-column: 4 / 10;
    }

}

 @media screen and (max-width: 768px) {

    .content {
        grid-column: 2 / 12;
        min-height: calc(100dvh - 192px);
        max-height: calc(100dvh - 192px);
    }

}


@media screen and (max-width: 481px) {

    .content{
        grid-column: 1 / 13;
        min-height: calc(100dvh - 144px);
        max-height: calc(100dvh - 144px);
    }

    .imageWrapper {
        overflow: hidden; 
        height: auto;
        grid-column: 2 / 6;

    }

    .text {
        grid-column: 1 / 7;

    }

}

