.content {
    grid-column: 4 / 10;
    padding-top: 40px;
}

.myJourney {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px; /* Abstand zwischen den Elementen */
    padding-bottom: 40px;
}

.imageWrapper {
    overflow: hidden; 
    height: 400px;
    grid-column: 1 / 3;
}

.imageWrapper img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text {
    grid-column: 3 / 7;
    /* font-weight: lighter; */
}

.text p {
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.1rem;
}

/* .title {
    font-family: "Unica One", sans-serif;
    font-weight:800;
    font-size: 32px;
    margin-bottom: 12px;
} */

.title {
    padding-bottom: 0.5rem;
}

.skills {

}

/* .box {
    border: 1px solid var(--main-black); 
    radius: 4px;
} */


.box {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box > * {
    flex: 1;
}

.box h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--main-black);
}

.station {
    margin-top: 1rem;
}
 .station .employer {
    font-size: 12px;
    font-weight:bolder;
    background-color: var(--main-yellow);
 }

