.content {
    grid-column: 5 / 9;
    padding-top: 40px;
    height: calc(100dvh - 154px); /* Höhe abzüglich Navbar und Footer */
    overflow-y: auto; /* Vertikales Scrollen erlauben */
    overflow-x: hidden; /* Horizontales Scrollen verhindern */
    /* Hide scrollbar while keeping scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

}

.myJourney {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px; /* Abstand zwischen den Elementen */
    padding-bottom: 40px;
}

.imageWrapper {
    overflow: hidden; 
    height: 400px;
    grid-column: 1 / 3;
}

.imageWrapper img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text {
    grid-column: 3 / 7;
    /* font-weight: lighter; */
}

.text p {
    margin-bottom: 0.5rem;
    /* font-size: 14px; */
    font-weight: 100;
    line-height: 1.1rem;
}

/* .title {
    font-family: "Unica One", sans-serif;
    font-weight:800;
    font-size: 32px;
    margin-bottom: 12px;
} */

.title {
    padding-bottom: 0.5rem;
}

.skills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px; /* Abstand zwischen den Elementen */
}

.skills > * {
    grid-column: span 2; /* Alle direkten Kinder nehmen 2 Spalten ein */
}
/* .box {
    border: 1px solid var(--main-black); 
    radius: 4px;
} */

.skillList h2 {
    border-bottom: 1px solid var(--main-black);
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.skillList ul {
    list-style: none;
    padding-left: 0;
}

.skillList li {
    position: relative;
    margin-bottom: 4px;
    font-weight: lighter;
}


.box {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box > * {
    flex: 1;
}

.box h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--main-black);
}

.station {
    margin-top: 1rem;
}
 .station .employer {
    font-size: 12px;
    font-weight:bolder;
    background-color: var(--main-yellow);
 }

.buttonContainer {
    display: flex;
    justify-content: left;
    margin-top: 40px;
}



@media screen and (max-width: 1639px) {
    .content {
        grid-column: 4 / 10;
    }
}


 @media screen and (max-width: 768px) {

    .content {
        grid-column: 2 / 12;
    }

}


@media screen and (max-width: 481px) {
    .content{
        grid-column: 1 / 13;
        height: calc(100dvh - 144px); /* Höhe abzüglich Navbar und Footer */

    }

    .imageWrapper {
        overflow: hidden; 
        height: auto;
        grid-column: 2 / 6;
    }

    .text {
        grid-column: 1 / 7;

    }

    .skills > * {
        grid-column: 1 / 7;    }
}

