.navbar {
    grid-column: span 12;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--main-black);
    align-items: flex-end;
    position: relative;
    width: 100%;

}

.navbar a {
    margin: 0;
    background: none;           
    align-items: center;       
    padding: 0;                
    text-decoration: none;
    display: inline-block; 
    transition: transform 0.2s ease;
}

.navbar a:hover {
    animation: bounce-down 0.25s cubic-bezier(0.25, 0.6, 0.4, 1) 1;
}

@keyframes bounce-down {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(0.5px); }
  100% { transform: translateY(0); }
}

.navbar img {
    margin: 0;
    min-height: 20px;
    width: auto;
}

.linksbar {
    display: flex;
    gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}



@media screen and (max-width: 768px) {

    .navbar {
        padding-bottom: 80px;
    }   

    .linksbar {
        position: absolute;
        top: 60px;
    }

}


@media screen and (max-width: 481px) {

    .navbar {
        padding-bottom: 70px;
    }   

}
