.navbar {
    grid-column: span 12;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--main-black);
    align-items: flex-end;
    position: relative;
    /* position: fixed; */
    /* left: 40px;
    right: 40px; */
    width: 100%;
    
}

.linksbar {
    display: flex;
    gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.navInfo {

}

.navTimeout {
    display: none;
}


@media screen and (max-width: 768px) {

    .navbar {
        padding-bottom: 80px;
    }   

    .linksbar {
        position: absolute;
        top: 60px;
    }


}


@media screen and (max-width: 481px) {

    .navbar {
        padding-bottom: 70px;
    }   

    .linksbar {
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        position: absolute;
        width: 100%;
        display: flex;
        overflow-x: auto;     /* 👉 erlaubt horizontales Scrollen */
        scroll-snap-type: x mandatory;
        top: 40px;
        justify-content: left;
        -ms-overflow-style: none;     /* IE & Edge */
        scrollbar-width: none;        /* Firefox */
    }


}