.content {
    grid-column: 1 / 13;
    min-height: calc(100vh - 154px);
}
.image {
    border-radius: 30px;
    box-shadow: 5px 5px 11px 7px rgba(0,0,0,0.15);
    width: auto;
}

.featuresList {
    padding: 12px;
    border: 1px solid var(--main-yellow);
    display: flex;
    flex-direction: row;
    color: var(--main-yellow);
    gap: 12px;
    flex-wrap: wrap; 
    margin-top: 20px;
}

.featuresList > div {
    flex: 1;
    min-width: 100px; 
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* .scrollContent .animation  {
    border: 1px solid red;
    background: red;
} */

/* 
.rottest {
    background-color: red;
} */
