.content {
    grid-column: 1 / 13;
    display: flex;
    justify-content: center;  
    align-items: center;  
}

.videoWrapper {
    position: fixed;
    inset: 0;
    background-image: url('../../images/gradients.png');
    background-color: var(--main-grey);
    background-size:cover; 
    background-position: left; 
}

.backgroundVideo {
  height: 100%;
  width: 100% ;
  object-fit: cover;
}

.goBackLink {
    font-size: 12px;
    z-index: 2;
    transform: translateY(-40px);
}
