.content {
    grid-column: 1 / 13;
    display: flex;
    justify-content: center;  
    align-items: center;  
}

a {
    font-size: 12px;
}

.backgroundVideo {
    position: fixed;
    object-fit: cover;
    background-position: left; 
    z-index: -1;
}