.content {
    grid-column: 1 / 13;
    display: flex;
    justify-content: center;  
    align-items: center;  
}



.videoWrapper {
    position: fixed;
    inset: 0;
    /* z-index: 1;           */
    background-image: url('../../images/gradients.png');
    background-color: var(--main-grey);
    background-size:cover; 
    background-position: left; 
    /* background-position: center; */
}

.backgroundVideo {

    /* position: fixed;
    object-fit: cover;
    background-position: left; 
    z-index: -1;
    background-size:cover; 
    background-position: left; 
      width: 100%; */
  height: 100%;
  width: 100% ;
  object-fit: cover;
}

a {
    font-size: 12px;
    z-index: 2;
}
