:root {
  --main-grey: #E1E0DD;
  --main-yellow: #EED189;
  --main-green: #708E85;
  --main-red: #B97979;
  --main-violet: #B97979;
  --main-black: #161616;
  --shadowSmall: 0px 10px 50px 0px rgba(var(--main-red), 0.5);

}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type:none;
  border: none;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a[x-apple-data-detectors],
a[x-apple-data-detectors=true],
a[data-dt-link],
a[href^="tel:"],
a[href^="mailto:"]  {
  color: inherit !important;
  text-decoration: none !important;;
}

.App {
  text-align: left;
  background-color: var(--main-grey);
  gap: 20px;
  padding: 40px;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 12px;
  background-color: var(--main-grey);
  width: 100vw;
}

.pageContent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  box-sizing: border-box;

}

.homeBackground {
  background-image: url('images/gradients.png');
  background-size:cover; 
  background-position: left; 
}

.greyBackground {
  background-image: none;
}


h1 {
  font-family: "Unica One", serif;
  color: var(--main-grey);
  -webkit-text-stroke: 1px var(--main-black);; 
  paint-order: stroke fill;
  font-size: 36px;
  text-transform: uppercase;
}

h2 {
  font-size: 14px;
  font-weight:600;
}



h3 {
  font-size: 12px;
  font-weight: bolder;
}

h4 {
  font-size: 10px;
}

p {
  color: var(--main-black);
  font-size: 11px;
  font-weight: lighter;
  max-width: 100%;
}

p.quote {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  text-decoration: underline 1px var( --main-yellow);
  text-underline-offset: 3px;
}

button {
  display: inline-flex;
  align-items: center;
  height: fit-content;
  gap: 12px;
  cursor: pointer; /* Change cursor on hover */
  background-color: transparent;
}

a:hover {
  cursor: pointer;
}


button * {
  color: inherit !important;
  text-decoration: none !important;
}

button h2,
button span,
button p,
button a,
button a:link,
button a:visited,
button a:hover,
button a:active,
button [x-apple-data-detectors],
button [x-apple-data-detectors="true"],
button [data-dt-link] {
  color: inherit !important;
  text-decoration: none !important;
}

/* optional: iOS-Button-Defaults neutralisieren */
/* button {
  -webkit-appearance: none;
  appearance: none;
  background: var(--btn-bg, #111);
  color: var(--btn-fg, #fff);
  border: 0;
} */


@media (max-width: 599px) {
  

}

@media (max-width: 1639px) {

}



@media screen and (max-width: 481px) {
  .App {
    padding: 20px;
  }
}