/* Switcher.module.css */
.switcher {
    position: relative;
    height: 28px;
    padding: 2px;
    border: 1px solid var(--main-black);
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 12px;
    font-weight: bolder;
  }
  

  .switcher span {
    padding: 4px 12px;
    border-radius: 11px;
    color: var(--main-black); /* Standardfarbe explizit setzen */
  }

  /* .slider span {
    color: var(--main-black);
  } */


  .switcher.on > span:first-of-type {
    color: white !important; /* !important hinzufügen falls nötig */
    background-color: var(--main-black);
  }

  .switcher.off > span:first-of-type {
    color: var(--main-black) !important; /* !important hinzufügen falls nötig */
  }
  
  .switcher.off > span:last-of-type {
    color: white !important; /* !important hinzufügen falls nötig */
    background-color: var(--main-black);

  }

    .switcher.on > span:last-of-type {
    color: var(--main-black) !important; /* !important hinzufügen falls nötig */
  }
  
  .slider {
    position: absolute;
  }


