.content {
    grid-column: 1 / 13;
    min-height: calc(100vh - 154px);
}

.image {
    overflow: hidden;
    height: auto;
    box-shadow: 3px 3px 8px 7px rgba(0,0,0,0.05);
}

.projectButtons {
    margin-top: -30px;
    display: flex;
    gap: 16px;
    justify-content: center;
    font-family: inherit;
}

.projectButtons button{
    color: inherit !important;
    text-decoration: none !important;
}

.activeButton p {
    font-weight: bolder;

}

.challengesSection {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 3px;
}

li {
  font-size: 12px;
  padding-left: 1rem;        
  text-indent: -1rem;
  padding-bottom: 2px;   
  line-height: 1.2rem;     
}

ul li::before {
  content: "•";
  font-size: 0.5rem;   /* Mini-Punkt */
  margin-right: 0.5rem;
  vertical-align: middle;
}

strong {
    font-weight: bolder;
    /* font-weight: 200; */
    /* text-decoration: underline 2px var( --main-yellow); */
    /* background: color-mix(in srgb, var(--main-yellow) 30%, white);  */
    /* padding: 0 0.2em; */
    /*color: color-mix(in srgb, var(--main-yellow) 95%, black); */
}
