.content {
    grid-column: 1 / 13;
    min-height: calc(100vh - 154px);
}

.image {
    overflow: hidden;
    height: auto;
    box-shadow: 3px 3px 8px 7px rgba(0,0,0,0.05);
}

.projectButtons {
    margin-top: -30px;
    display: flex;
    gap: 16px;
    justify-content: center;
    font-family: inherit;
}
.projectButtons button{
    color: inherit !important;
    text-decoration: none !important;
}

.activeButton p {
    font-weight: bolder;

}