.content {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    gap: 12px;        
}

.intro {
    width: 270px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.2rem;
}
