.content {
    grid-column: 2 / 11;
    min-height: calc(100vh - 154px); /* Höhe minus padding minus navbar minus footer */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Horizontal zentrieren */
    gap: 12px;
    /* background-color: white; */
    /* background-image: url('../images/gradients.png'); */
    /* overflow: visible; */
    /* background-size: cover; */
    /* background-position: -40px 0px; */
}

@media screen and (max-width: 768px) {
    .content {
        min-height: calc(100vh - 194px); /* Höhe minus padding minus navbar minus footer */
    }
  }


  @media screen and (max-width: 481px) {
    .content {
        min-height: calc(100vh - 144px); /* Höhe minus padding minus navbar minus footer */
    }
  }