.content {
    min-height: calc(100vh - 154px);
    grid-column: 1 / 13;

}


.tetris {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


.switcher {
    position: relative;
    top: 40px;
}


.placeholderIsometric {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 100%;
}

 .tetrisImage {
    /* border: 1px solid blue; */
    max-width: 400px;
    width: 100%;
    height: auto;
    position: relative;
    opacity: 1;
    /* transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    right: 0;
    margin: 0 auto; */
 }




@media screen and (max-width: 768px) {
    .content {
        min-height: calc(100vh - 194px); /* Höhe minus padding minus navbar minus footer */
    }
  }

  @media screen and (max-width: 481px) {
    .content {
        min-height: calc(100vh - 144px); /* Höhe minus padding minus navbar minus footer */
    }
  }


