.content {
    min-height: calc(100dvh - 154px);
    grid-column: 1 / 13;

}


.tetris {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


.switcher {
    position: relative;
    top: 40px;
}


.placeholderIsometric {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

 .tetrisImage {
    max-width: 400px;
    width: 100%;
    height: auto;
    position: relative;
    opacity: 1;
 }


@media screen and (max-width: 768px) {
    .content {
        min-height: calc(100dvh - 194px); 
    }
  }

  @media screen and (max-width: 481px) {
    .content {
        min-height: calc(100dvh - 144px); 
    }

  }


